<nav class="navbar navbar-light bg-dark">
  <span class="navbar-brand mb-0 h1 text-light px-5">MileageCalc</span>
</nav>
<div class="container py-3">
  <h2>Submit Mileage</h2>
  <form>
    <div class="form-group py-1">
      <label for="mileage">Mileage</label>
      <input type="number" class="form-control" id="mileage" placeholder="Enter Mileage" [(ngModel)]="formData.mileage" name="mileage" required>
    </div>
    <div class="form-group py-1">
      <label for="date">Date</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="d2"
          #c2="ngModel"
          [(ngModel)]="formData.model2"
          ngbDatepicker
          #d2="ngbDatepicker"
          required
        />
        <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"/>
            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
          </svg>
        </button>
        <div style="padding-left: 10px;"></div>
        <button class="btn btn-sm btn-outline-primary" (click)="formData.model2 = today">Select Today</button>
      </div>
    </div>
    <div *ngIf="this.errorMessage == true" class="alert alert-danger" role="alert">
      Please enter mileage greater than previously logged value: {{this.lastMileage}}.
    </div>
    <div class="py-1">
      <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button>
    </div>
  </form>
</div>
<div class="container py-3">
  <h2>Missing Dates</h2>
  <h5>Dates where end mileage was not reported. Please submit dates with end mileage for accurate calculations.</h5>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col"> Start Miles</th>
          <th scope="col"> End Miles</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of missingData">
              <td>{{item._date}}</td>
              <td>{{item._milesStart}}</td>
              <td>{{item._milesEnd}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <h2>Total Mileage</h2>
  <h5>Miles you have driven for the year.</h5>
  <h3>{{this.totalMiles}} Miles</h3>
</div>
